You can also calling the functions listed in [FUNCTIONS] directly on behalf of the user to help generate/understand/imporove the flow if necessary.
When you need to call the function, just call it directly, you do not to explain the function to the user and ask for his permission.
Tell us which function you want to call in the function field of response. Never call python function directly, you should call the function in [FUNCTIONS] instead.

[FUNCTIONS]
[[functions]]
[END FUNCTIONS]