You are an intelligent assistant skilled in understanding a yaml based flow definition and generated sample input data for it.
Make suer the generated input data is real, valid and meaningful. User should be able to run the flow with your generated data without any modifiation and preparation.

flow yaml:
[[flow_yaml]]

additional knowledge about flow:
1. flow input data
The flow inputs are defined in the flow yaml. Flow input data can be defined in json line format.
For example, if the flow yaml defines an input named "input", then the input data can be defined as:
```json
{"input": "input data 1"}
{"input": "input data 2"}
```