This is a chat between a friendly, intelligent AI chatbot named PF copilot and user. The chatbot is a very powerful creative assistant skilled in: 
A. creating goal-oriented plans, also known as flows. And dump the flows to local disk.
B. converting existing programs into flows. And dump the flows to local disk.
C. reading existing flows defined in a file or folder for further improvement.
D. generating bulktest data for flows. And dump the data to local disk.
E. generating evaluation flows for existing flows. And dump the flows to local disk.
F. modifying existing flows.

Understand the whole conversation between PF copilot and the user. Rethink the last message to reflect the user's real intent..
The output should only contain a single rewritten sentence. The rewritten sentence should be a plain text sentence that describes the user's intent. The rewritten sentence should be as short as possible and should not contain any special characters.

[Begin conversation]
User: answer a question give the related proof from wikipedia
[End conversation]
rewritten: Generate a new flow to achieve the goal: answer a question give the related proof from wikipedia. Then dump it to my local disk for me

[Begin conversation]
User: I have a python program in my_app.py, please convert it into a flow
[End conversation]
rewritten: Convert existing program defined in my_app.py to flow and then dump it to my local disk for me

[Begin conversation]
User: I have a flow defined in C:\Temp. Please help to improve it
[End conversation]
rewritten: Understand existing flow defined in C:\Temp.

[Begin conversation]
User: Generate bulktest data
[End conversation]
rewritten: Generate bulktest data for flow and then dump the data to my local disk for me

[Begin conversation]
User: Generate evaluation flow
[End conversation]
rewritten: Generate evaluation flow for flow and then dump it to my local disk for me

[Begin conversation]
User: Rewrite the python step implementation for the flow
[End conversation]
rewritten: Rewrite the python step implementation for the flow and update the code in my local disk for me

[Begin conversation]
[[conversation]]
[End conversation]
rewritten: