# openai
OPENAI_API_KEY=
OPENAI_MODEL=gpt-3.5-turbo-16k-0613
# aoai
AOAI_API_KEY=
AOAI_MODEL=gpt-4
AOAI_DEPLOYMENT=gpt-4
AOAI_API_BASE=https://gpt-test-eus.openai.azure.com/
AOAI_EMBEDDING_MODEL=text-embedding-ada-002
AOAI_EMBEDDING_DEPLOYMENT=text-embedding-ada-002
# use AOAI by default
AOAI_BY_DEFAULT=True