[AVAILABLE TOOLS]
promptflow.tools.azure_content_safety.AzureContentSafety.analyze_text:
  inputs:
    text:
      description: text to be analyzied
  description: Use Azure Content Safety to detect harmful content.
promptflow.tools.azure_detect.AzureDetect.get_language:
  inputs:
    input_text:
      description: text content that need to be detected
  description: Detect the language of the input text.
promptflow.tools.azure_translator.AzureTranslator.get_translation:
  inputs:
    input_text:
      description: text that need to be translated
    source_language:
      description: language that need to be translate from
    target_language:
      description: enlanguage that need to be translate to
  description: Use Azure Translator API for translating text between 130+ languages.
promptflow.tools.embedding.embedding:
  description: Convert text string to a vector (list) of floating point numbers.The distance between two vectors measures their relatedness. Small distances suggest high relatedness and large distances suggest low relatedness.
  inputs:
    input:
      description: text used to build vector (list) of floating point numbers.
promptflow.tools.serpapi.SerpAPI.search:
  description: Use Serp API to obtain search results from a microsoft bing search engine.
  inputs:
    query:
      description: text to search
    connection:
      SerpConnection's name to be used
    engine:
      search engine, can be google or bing
    location:
      search location
    safe:
      safe mode configuration, off or active

[END AVAILABLE TOOLS]