[PYTHON TOOLS]
promptflow.tools.python:
  description: use python tool to trigger a customized python function. the function can have multiple inputs and only one output. the function's inputs are the tool's inputs and the function's output is the tool's output
  inputs:
    input_1:
      description: the python function's input
[END PYTHON TOOLS]